
{% extends 'dasboard_nav.html' %}

{% block style%}
<!-- <link href="../static/sb-admin-2.css" rel="stylesheet"> -->
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/job_card.css">
{% endblock style%}

{% block title%} Job Listing {% endblock title %}

{% block search %}
<!-- Topbar Search -->
<form
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input type="text"
            class="form-control bg-light border-0 small"
            placeholder="Search for..."
            aria-label="Search"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary"
                type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
{% endblock search %}

{% block body %}

<body id="page-top">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Job Listing</h1>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                Filters
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop"
                data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5"
                                id="staticBackdropLabel">Modal title</h1>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="remotejob">
                                <input type="checkbox" name="remote_job"
                                    id="remote_job">
                                <label for="remote_job">Only remote jobs
                                </label>
                            </div>

                            <div class="function_heading" style="
                            margin-top: 20px;
                        ">
                                <h4 style="
                                margin-bottom: 15px;
                            ">
                                    Type of Functions
                                </h4>
                                <div class="jobs_filter">
                                    <input type="checkbox" name="remote_job"
                                        id="remote_job">
                                    <label for="remote_job">All types of
                                        jobs</label>
                                </div>
                                <div class="jobs_filter">
                                    <input type="checkbox" name="remote_job"
                                        id="remote_job">
                                    <label for="remote_job">Full Time</label>
                                </div>
                                <div class="jobs_filter">
                                    <input type="checkbox" name="remote_job"
                                        id="remote_job">
                                    <label for="remote_job">Part-Time</label>
                                </div>
                                <div class="jobs_filter">
                                    <input type="checkbox" name="remote_job"
                                        id="remote_job">
                                    <label for="remote_job">Freelance</label>
                                </div>
                                <div class="jobs_filter">
                                    <input type="checkbox" name="remote_job"
                                        id="remote_job">
                                    <label for="remote_job">Internship /
                                        Traineeship</label>
                                </div>
                                <div class="jobs_filter">
                                    <input type="checkbox" name="remote_job"
                                        id="remote_job">
                                    <label for="remote_job">Temporary employment
                                    </label>
                                </div>
                                <div class="jobs_filter">
                                    <input type="checkbox" name="remote_job"
                                        id="remote_job">
                                    <label for="remote_job">Permanent employment
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="button"
                                class="btn btn-primary">Show Results</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="alljob_content">
            
            <div class="job_fields">
                {% for job in jobs %}

                <div class="job-card">
                    <div class="job_heading">

                            <h2 class="job-title">{{ job.job_title }}</h2>
                        <p class="company-name">{{ job.location }}</p>
                    </div>
                    <div class="job-details">
                        <p>{{job.company}}</p>
                        <div class="job_content">

                            <p>{{job.salary_range}}</p>
                            <p>{{job.tags}}</p>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <div class="job_desc">
                <div class="job_dec_title">
                    <h4>
                        Job Description
                    </h4>
                </div>
                <div class="job_dec_details">

                    <h2 class="brief_title">System Administrator (Brussels)</h2>
                    <div class="job_details_breif">
                        <div class="job_desc_fileds"><span>Company Name</span><span>CTG ITS</span></div>
                        <div class="job_desc_fileds"><span>Company Email</span><span></span></div>
                        <div class="job_desc_fileds"><span>Company contact No</span><span></span></div>
                        <div class="job_desc_fileds"><span>Website URL</span><span><a
                                    href="http://www.ctg.com">www.ctg.com</a></span></div>
                        <div class="job_desc_fileds"><span>Company Type</span><span></span></div>
                        <div class="job_desc_fileds"><span>Number of Employees</span><span>2,500 to
                                4,999
                                employees</span></div>
                        <div class="job_desc_fileds"><span>Date of Post</span><span>Vandaag</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock body %}