{% block style%} <link rel="stylesheet" href="../static/login.css"> {% endblock style%}

{% block body%}

<div class="container">
    <div class="content">

        <div class="login_img">
            
            <img src="../static/login_img.png" alt="">
        </div>
        <div class="login_form">
            <div class="login_box">
                <div class="login_heading">
                    <h1>Login to your Account</h1>
                </div>
                <div class="login_details">
                    <form action="", method="post">
                        {% csrf_token %}
                        <div class="email_field">

                            <label for="username">User Name</label>
                            <input type="text" name="username" id="username" required>
                        </div>
                        <div class="password_field">
                            <label for="passwd">Password</label>
                            <input type="password" name="passwd" id="passwd" required>
                        </div>
                        <div class="remember_me">
                            <input type="checkbox" name="remember_me" id="remember_me" required>
                            <label for="remember_me">Remember Me</label>
                        </div>
                        <div class="submit_btn">
                            <button type="submit"><span>Login

                            </span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}