{% extends "base.html" %}

{% block body %}
<form action="/home/" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="Email" class="form-label">Email
            address</label>
        <input type="email" name="Email" class="form-control" id="Email"
            placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="name"
            placeholder="Name">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control"
            id="password"
            placeholder="Password">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>

</form>
{% endblock body %}
